body{
    background-color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    letter-spacing: 3px;
    text-align: center ;
    width: calc(100%);
    height: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:  rgb(165, 197, 75);
    margin-right: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.rating {
    letter-spacing: 3px;
    text-align: center;
    width: calc(95% / 5);
    height: calc(90%);
    color: rgb(165, 197, 75);
    margin: 0 auto;
    border: 0px solid red;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.starting {
    letter-spacing: 3px;
    text-align: center;
    width: calc(94% / 2);
    height: calc(90%);
    color: rgb(165, 197, 75);
    margin: 0 auto;
    border: 0px solid red;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.img-rating {
    border: 3px solid rgb(75, 248, 234);
    margin: 0 auto;
    width: 200px;
    height: 300px;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}
.img-start {
    text-align: center;
    border: 3px solid rgb(75, 248, 234);
    margin: 0 auto;
    width: 200px;
    height: 300px;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}