<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Игра</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</head>

<body>
    <div class="flex-container">
        <div class="header"><h1>Игра идёт</h1></div>
    </div>
    <div class="flex-container">
        <div class="starting">
            <div class="img-start" style="background-image: url({{foto}})">
            </div>
        </div>
        <div class="starting">
            <div class="header"><h2>Очки</h2></div>
            <div class="header" id = "points"><h1>0</h1></div>
            <div class="header"><h2>Осталось времени</h2></div>
            <div class="header" id = "sum"><h1></h1></div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    var timer = setInterval( GetGamePoints, 200);
    var s = 60;
function count(){
setInterval(function(){
  if (s>1){
  s-=1;
  if (s == 10){PostGameEnd();}
}else{s = '0'; document.location.replace("/game_over");}
  document.getElementById("sum").children[0].innerHTML=s;
},1000)

}
    count()  
</script>
</html>    