<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Игра</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="flex-container">
        <div class="header"><h1>Игра идёт</h1></div>
    </div>
    <div class="flex-container">
        <div class="starting">
            <center><div class="img-rating" style="background-image: url({{foto}})">
            </div></center>
        </div>
        <div class="starting">
            <p class="header"><h1>Очки:</h1></p>
            <h3>0</h3>
            <p class="header"><h1>Осталось времени</h1></p>
            <div class="header" id = "sum"><h3></h3></div>
        </div>
    </div>
</body>
<script>
    var s = 60;
function count(){
setInterval(function(){
  if (s>1){
  s-=1;}else{s = '0'}
  document.getElementById("sum").children[0].innerHTML=s;
},1000)
}
    count()    
</script>
</html>    