<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Описание">
        <title>Заголовок</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
        <script
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container screen-3">
            <div class="block player">

                <div class="row">
                    <div class="photo" id="photo_1">
                        <img src="{{foto}}" class="photo_img" alt="фото">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="time-score-title">осталось<br>времени</div>
                        <div class="time-score" id="starttime"><p>60</p></div>
                        <div class="time-score-title">очки</div>
                        <div class="time-score" id="score"><p>0</p></div>
                    </div>

                    <div class="col">
                        <div class="message" id="message"></div>
                        <div class="error" id="error"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        var timer = setInterval( GetGamePoints, 200);
        var s = 60;
    function count(){
    setInterval(function(){
      if (s>1){
      s-=1;
      if (s == 10){PostGameEnd();}
    }else{s = '0'; document.location.replace("/game_over");}
      document.getElementById("starttime").children[0].innerHTML=s;
    },1000)
    
    }
        count()  
    </script>
</html>